body {
  background-color: rgb(229, 230, 238);
}



.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 100px;
}

.nav {
  background-color: white;
}


.sudiv {
  display: flex;
  justify-content: right;
}

.tog {
  margin: 20px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.togg {
  margin: 20px;
}

.linku {
  text-decoration: none;
  color: black;
}

.linku:hover {
  background-color: skyblue;

}

.burgrr {
  height: 50px;
  margin-top: -11px;
  margin-left: 22px;
  padding: 5px;
  border: none;
}

.avtar {
  width: 72px;
  margin-top: 518px;
  position: absolute;
  margin-left: 23px;
  border-radius: 50%;
}

.avtar:hover {
  transform: scale(1.3);
}


@media screen and (min-width: 480px) {
  .burgrr {
    margin-top: -12px;
  }

  .avtar {
    margin-left: 21px;
    margin-top: 700px;
    width: 7%;
    border-radius: 50%;


  }

  .avtar:hover {
    transform: scale(1.3);
  }
}

.linkss {
  padding: 20px;
  text-decoration: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 5px;

}

.logoimages {
  width: 241px;

}

@media screen and (max-width: 480px) {
  .logoimages {
    width: 218%;
    margin-left: -31px;
  }
}

.logoname {
  color: rgb(85, 199, 245);
}

/* //Navbar End// */


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(86, 190, 231);
  color: white;
  text-align: center;
 
}

/* Footer End */


.form {
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 10rem;
  position: relative;
}

.form__input {
  width: auto;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 50px;
}

.form__input:focus {
  outline: none;
}

.ss {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.form {
  display: flex;
  justify-content: center;
  border-radius: 10rem;
  position: relative;
}

.form__input {
  width: auto;
  padding: 0.8rem 2.4rem;
  background-color: #fff;
  font-size: x-large;
  border-radius: 10rem 0 0 10rem;
  border: none;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: #fff;
  font-size: large;
  border-radius: 10rem;
  border: none;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
  -moz-box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
  box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
}

.form__btn:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);
  -moz-box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);
  box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);

}

@media only screen and (max-width:600px) {
  .form__input {
    width: 190px;
    height: 40px;
    background-color: #fff;
    font-size: larger;
    padding-right: 10px;
  }

  .form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 1.2rem;
    background-color: #fff;
    border-radius: 10rem;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
    -moz-box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
    box-shadow: 0 0 0 1.2rem rgb(229, 230, 238);
  }

  .form__btn:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);
    -moz-box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);
    box-shadow: 0 0 0 0.7rem rgb(229, 230, 238);

  }

  .ss {
    margin-top: 50px;
  }

}

/* Home End */
.imagediv{
  height: 200px;
  width: 200px;
}
.imagess{
  width: 100%;
  height: 100%;
}
.card{
  padding:2%;
  margin-top: 5%;
}
@media only screen and (max-width:600px) {
.car{
  margin: 10px;
  margin-bottom: 20%;
}
}
.aa{
  background-color: red;
  height: 1000px;
  display: grid;
  place-items: center;
}